<a class="dropdown-toggle no-border" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <!--<li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>-->
  <li>
  <a data-ng-click="setCurrency('BIFI')" data-ng-class="{active: currency.symbol == 'BIFI'}">BIFI</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('mBIFI')" data-ng-class="{active: currency.symbol == 'mBIFI'}">mBIFI</a>
  </li> 
  <!--<li>
  <a data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>-->
</ul>

